<!doctype html>
<html><!-- InstanceBegin template="/templates/notes.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<META http-equiv="Content-Language" content="EN" />
<meta http-equiv="pragma" content="no-cache" />
<meta name = "Description" content="Erasmus+ Genius project" />
<meta name="distribution" content="global" />
<meta name="keywords" content="Erasmus+ Genius html canvas javascript games development" />
<meta name = "Robots" content="index,follow" />
<meta name = "revisit-after" content="6 days" />
<title>Genius</title>
<link rel="icon" type="image/jpeg" href="../../images/dkit_logo.png">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href="../css_styles/notesStyle.css" rel="stylesheet" type="text/css">
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
<p class="copyright">Genius</p>
<!-- InstanceBeginEditable name="pageContents" -->


$$CHAPTER_CONTENT$$


<!-- InstanceEndEditable -->
<p class="copyright">Copyright Genius.</p>
<script type="text/javascript" src="../javascripts/addListings.js"></script>
</body>
</html>
